
/*Big tablet to 1200px (width smaller than 1140px row)*/
@media only screen and (max-width: 1200px){
    
.hero-text-box
{
    position: absolute;
    width: 100%;
    padding: 0 2%;
    
}
    
    .row{padding: 0 2%;}
}




/*Small table to big tablet: from 768px to 1023px*/
@media only screen and (max-width: 1023px){
    body{ font-size: 18px;}
    section{ padding: 60px 0;}
    .long-copy {
    width: 80%;
    margin-left: 10%;
}
    
    .steps-box{margin-top: 10px;}
    .works-steps{ margin-bottom: 40px;}
    .works-step: last-of-type{margin-bottom: 60px;} 
    .app-screen {width: 50%;}
    
    .icon-small { width: 17px;}
    .city-feature { font-size: 90%; }
    
}


 

/*Small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width: 767px){
    
    .main-nav{display: none;}
    
    .mobile-nav-icon {
        display: inline-block;
    }
    
    .main-nav{
        float : left;
        margin-top: 25px; 
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding : 10px 0;
        font-size: 90%;
    }
    
    .sticky .main-nav { margin-top: 10px;}
    .sticky .main-nav li a: link,
    .sticky .main-nav li a: visited {padding: 10px 0;}
    .sticky .mobile-nav-icon .mobile {color : #555;}
    .sticky .mobile-nav-icon .mobile {margin-top: 10px;}
    .sticky .mobile-nav-icon .mobile2 {color : #555;}
    .sticky .mobile-nav-icon .mobile2 {margin-top: 10px;}
    
}






/* Small phones from 0 to 480px*/
@media only screen and (max-width: 480px){
    
}